# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/target

# dependencies
/frontend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/frontend/.vscode/*
!/frontend/.vscode/swttings.json
!/frontend/.vscode/tasks.json
!/frontend/.vscode/launch.json
!/frontend/.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# System Files
/frontend/.DS_Store
/frontend/Thumbs.db
